$background-color: #131313;
$cell-color: #252525;
$cell-hover-color: #353535;
$cell-symbol-color: #bbbbbb;
$light-grey-color: #1a1a1a;
$dark-grey-color: #141417;

$primary: #646cff;
$player1-color: #ff6464;
$player2-color: #64aadd;
